# Ignore Django migrations folders
**/migrations/

# Ignore Python bytecode files
**/__pycache__/

.vscode/

# Ignore settings and local configuration files
.env
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/
*.venv
.Python

# Ignore files for testing and CI
.tox/
.coverage
.pytest_cache/
*.pyc

# Ignore test data
data/

# Ignore other temporary or project-created files
*.orig
*.DS_Store
*.bak
*.swp
*.lock
.git/
.idea/
*.log
